@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Instrument+Serif:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
    color: #333;
}

h1 {
    font-family: 'Instrument Serif', sans-serif;
    font-size: 4em;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-family: 'Instrument Serif', sans-serif;
    font-size: 1.5em;
    font-style: italic;
    margin: 10px 0;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

@media (min-width: 768px) {
    body {
        font-size: 1.2em;
    }

    h1 {
        font-size: 5em; /* Increase font size */
    }

    h2 {
        font-size: 2em; /* Increase font size */
    }

    p {
        font-size: 1.2em; /* Slightly larger text */
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.4em;
    }

    h1 {
        font-size: 6em; /* Further increase font size */
    }

    h2 {
        font-size: 2.5em; /* Further increase font size */
    }

    p {
        font-size: 1.4em; /* Further increase text size */
    }
}
